<h1 class="mt-4">Supervisor Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="" class="btn btn-primary btn-block">Feature 2</a>
<a href="" class="btn btn-primary btn-block">Feature 3</a><br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>